*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Lato" Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
    height: 1900px;
    margin: 0 auto;
    padding: 30px 50px 50px;
    background-image: linear-gradient(to top, #69B62F, #DE3375), url("../images/tony-dinh-U_OuQ82PFHg-unsplash.jpg");
    /* background-color: grey; */
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}



nav {
    display: flex;
    width: 95%;
    justify-content: space-between;
    position: fixed;
    top: 2;
    left: 10;
}


#header-img {
    max-width: 150px;
}

.nav-link {
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 5px;
}

.nav-link:hover {
    color: rgb(21, 167, 21);
}

section {
    display: flex;
    margin: 0 auto;
    max-width: 70%;
}

.container {
    display: flex;
    max-width: 60%;
    margin-top: 100px;
    /* position: relative; */
}

.about.img {
    max-width: 200px;
}

h1 {
    font-size: 3rem;
}