*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Lato" Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
    /* height: 1900px; */
    margin: 0 auto;
    padding: 30px 50px 50px;
    background-image: linear-gradient(to top, #69b62f, #de3375),
        url("../images/tony-dinh-U_OuQ82PFHg-unsplash.jpg");
    /* background-color: grey; */
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

nav {
    display: flex;
    width: 95%;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 10;
    margin-top: 10px;
}

#header-img {
    max-width: 150px;
}

.nav-link {
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 5px;
}

.about-link:hover {
    color: lightblue;
}
.product-link:hover {
    color: red;
}
.learn-link:hover {
    color: orange;
}
.price-link:hover {
    color: rgb(21, 167, 21);
}

.placeholder {
    padding: 50px;
}

section {
    /* display: flex; */
    margin: 50px auto;
    max-width: 80%;
}

h1 {
    margin: 0px 0;
    padding: 380px auto;
    font-size: 5.5rem;
    color: lightblue;
}

h2 {
    margin: 0px auto;
    font-size: 3rem;
}

.about {
    margin-top: 400px;
}

.container {
    /* display: grid; */
    position: relative;
    max-width: 60%;
    /* margin-top: 400px; */
    margin-bottom: 200px;
    /* margin-left: 200px; */
    /* height: 800px; */
    /* padding: 0; */
    /* position: relative; */
}

.product-img {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.product-image img {
    max-width: 150px;
}





.product {
    position: relative;
    /* border: 2px solid red; */
    background-color: #e40f1b;
    opacity: 0.85;
    /* margin: 200px auto; */
    border-radius: 25px;
}



#about,
#product,
#learn,
#price {
    padding: 30px;
}

.learn {
    /* position: relative; */
    background-color: orange;
    opacity: 0.85;
    /* padding: 25px; */
    /* margin: 200px auto; */
    border-radius: 25px;
}

iframe {
    border-radius: 5px;
    max-width: 95%;
}

.price {
    /* position: relative; */
    /* border: 2px solid green; */
    background-color: green;
    opacity: 0.85;
    /* padding: 25px; */
    margin-bottom: 350px;
    border-radius: 25px;
}

.price-box {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.price-item {
    background-color: yellow;
    color: black;
    width: 45%;
    /* margin: 20px 0; */
    /* padding: 5px; */
    border-radius: 15px;
}